{% extends 'base.html' %}
{% load humanize %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="header-title">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-heading mb-3">
                <h2>Просмотр текущих задач</h2>
                <div class="subtitle">Детальная информация касательно текущих задач кластера</div>
            </div>
             <pre id="mapping"></pre>
            </div>
        </div>
        {% include 'user/menu.html' %}
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    var data = {{ tasks | safe }}
    document.getElementById("mapping").textContent = JSON.stringify(data, undefined, 2);
</script>
{% endblock scripts %}