{% extends 'base-blank.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container-login">
    <div id="login-box" class="card">
        <div class="heading-box text-center mb-4">
                    <img src="{% static 'images/logo.png' %}" alt="">
        <div class="title">Авторизация</div>
        <div class="subtitle">Для начала использования возможностей Cerebro выполните вход в систему</div>
        </div>

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Логин:</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Введите логин..." required="required"
                       autofocus="autofocus">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль:</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Введите пароль..."
                       required="required">
            </div>
            {% if form.errors %}
            <div class="mb-3 text-danger text-center">Вы пытаетесь войти под несуществующими данными</div>
            {% endif %}
            <div class="d-grid">
            <button type="submit" class="btn btn-primary">Войти в систему</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}