{% extends 'base-blank.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container-login">
    <div id="login-box" class="card">
        <div class="heading-box text-center mb-4">
            <img src="{% static 'images/logo_small.png' %}" alt="">
            <div class="title">{{ title }}</div>
            <div class="subtitle">{{ subtitle }}</div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="{{ form.username.auto_id }}">{{ form.username.label_tag }}</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.password.auto_id }}">{{ form.password.label_tag }}</label>
                {{ form.password }}
            </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="text-danger text-center mb-3">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div class="d-grid">
            <button type="submit" class="btn btn-primary">Войти в систему</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}