{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="error-box">
        <span class="error">500</span>
        <h1>Ошибка обращения к сервису</h1>
        <div class="text">Мы уже устраняем неисправность, попробуйте обновить страницу через некоторое время. Приносим извинения за временные неудобства</div>
        <a href="{% url 'index' %}" class="btn btn-primary">Вернутся на главную</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}