{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="header-title">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-4">
                    <div class="card-statistic">
                        <span class="svg-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.7 18.9L18.6 15.8C17.9 16.9 16.9 17.9 15.8 18.6L18.9 21.7C19.3 22.1 19.9 22.1 20.3 21.7L21.7 20.3C22.1 19.9 22.1 19.3 21.7 18.9Z" fill="currentColor"/>
                                <path opacity="0.3" d="M11 20C6 20 2 16 2 11C2 6 6 2 11 2C16 2 20 6 20 11C20 16 16 20 11 20ZM11 4C7.1 4 4 7.1 4 11C4 14.9 7.1 18 11 18C14.9 18 18 14.9 18 11C18 7.1 14.9 4 11 4ZM8 11C8 9.3 9.3 8 11 8C11.6 8 12 7.6 12 7C12 6.4 11.6 6 11 6C8.2 6 6 8.2 6 11C6 11.6 6.4 12 7 12C7.6 12 8 11.6 8 11Z" fill="currentColor"/>
                            </svg>
                        </span>
                        <div class="count">{{ statistic_latest.documents }}</div>
                        <div class="title">Всего записей</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-statistic">
                        <span class="svg-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.7 18.9L18.6 15.8C17.9 16.9 16.9 17.9 15.8 18.6L18.9 21.7C19.3 22.1 19.9 22.1 20.3 21.7L21.7 20.3C22.1 19.9 22.1 19.3 21.7 18.9Z" fill="currentColor"/>
                                <path opacity="0.3" d="M11 20C6 20 2 16 2 11C2 6 6 2 11 2C16 2 20 6 20 11C20 16 16 20 11 20ZM11 4C7.1 4 4 7.1 4 11C4 14.9 7.1 18 11 18C14.9 18 18 14.9 18 11C18 7.1 14.9 4 11 4ZM8 11C8 9.3 9.3 8 11 8C11.6 8 12 7.6 12 7C12 6.4 11.6 6 11 6C8.2 6 6 8.2 6 11C6 11.6 6.4 12 7 12C7.6 12 8 11.6 8 11Z" fill="currentColor"/>
                            </svg>
                        </span>
                        <div class="count">{{ statistic_latest.indexes }}</div>
                        <div class="title">Всего источников</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-statistic">
                        <span class="svg-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.7 18.9L18.6 15.8C17.9 16.9 16.9 17.9 15.8 18.6L18.9 21.7C19.3 22.1 19.9 22.1 20.3 21.7L21.7 20.3C22.1 19.9 22.1 19.3 21.7 18.9Z" fill="currentColor"/>
                                <path opacity="0.3" d="M11 20C6 20 2 16 2 11C2 6 6 2 11 2C16 2 20 6 20 11C20 16 16 20 11 20ZM11 4C7.1 4 4 7.1 4 11C4 14.9 7.1 18 11 18C14.9 18 18 14.9 18 11C18 7.1 14.9 4 11 4ZM8 11C8 9.3 9.3 8 11 8C11.6 8 12 7.6 12 7C12 6.4 11.6 6 11 6C8.2 6 6 8.2 6 11C6 11.6 6.4 12 7 12C7.6 12 8 11.6 8 11Z" fill="currentColor"/>
                            </svg>
                        </span>
                        <div class="count">{{ statistic_latest.size }}Gb</div>
                        <div class="title">Объём данных</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>Динамика добавления записей</h2>
                    <div class="subtitle">Статистика увеличения количества записей среди которых осуществляется поиск</div>
                </div>
              <canvas id="statistics_documents"></canvas>
            </div>
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>Динамика добавления источников</h2>
                    <div class="subtitle">Статистика увеличения количества источников данных</div>
                </div>
              <canvas id="statistics_indexes"></canvas>
            </div>
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>Динамика увеличения объёма</h2>
                    <div class="subtitle">Статистика увеличения объёма данных (Gb)</div>
                </div>
              <canvas id="statistics_size"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<script src="{% static 'js/chart.js' %}"></script>
<script>
  const statistics_documents = document.getElementById('statistics_documents');
  const statistics_indexes = document.getElementById('statistics_indexes');
  const labels = {{ statistics.labels | safe }};
  const options = {
    plugins: {
        legend: {
          display: false
        }
      }
  };
  const statistics_documents_data = {
      labels: labels,
      datasets: [
        {
          label: 'Динамика добавления записей',
          data: {{ statistics.documents | safe }},
          fill: true
        }
      ]
    };
    const statistics_indexes_data = {
      labels: labels,
      datasets: [
        {
          label: 'Динамика добавления источников',
          data: {{ statistics.indexes | safe }},
          fill: true
        }
      ]
    };
    const statistics_indexes_size = {
      labels: labels,
      datasets: [
        {
          label: 'Динамика увеличения объёма данных',
          data: {{ statistics.size | safe }},
          fill: true
        }
      ]
    };


  new Chart(statistics_documents, {
    type: 'line',
    data: statistics_documents_data,
      options: options
  });
  new Chart(statistics_indexes, {
    type: 'line',
    data: statistics_indexes_data,
      options: options
  });
  new Chart(statistics_size, {
    type: 'line',
    data: statistics_indexes_size,
      options: options
  });
</script>
{% endblock %}

