{% extends 'base.html' %}

{% load humanize %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="header-title">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-4">
                    <div class="card-statistic">
                        <span class="svg-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM12.5 18C12.5 17.4 12.6 17.5 12 17.5H8.5C7.9 17.5 8 17.4 8 18C8 18.6 7.9 18.5 8.5 18.5L12 18C12.6 18 12.5 18.6 12.5 18ZM16.5 13C16.5 12.4 16.6 12.5 16 12.5H8.5C7.9 12.5 8 12.4 8 13C8 13.6 7.9 13.5 8.5 13.5H15.5C16.1 13.5 16.5 13.6 16.5 13ZM12.5 8C12.5 7.4 12.6 7.5 12 7.5H8C7.4 7.5 7.5 7.4 7.5 8C7.5 8.6 7.4 8.5 8 8.5H12C12.6 8.5 12.5 8.6 12.5 8Z" fill="currentColor"/>
                                <rect x="7" y="17" width="6" height="2" rx="1" fill="currentColor"/>
                                <rect x="7" y="12" width="10" height="2" rx="1" fill="currentColor"/>
                                <rect x="7" y="7" width="6" height="2" rx="1" fill="currentColor"/>
                                <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="currentColor"/>
                            </svg>
                        </span>
                        <div class="count">{{ statistic_latest.documents|intcomma }}</div>
                        <div class="title">Всего записей</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-statistic">
                        <span class="svg-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3" d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z" fill="currentColor"/>
                                <path d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z" fill="currentColor"/>
                            </svg>
                        </span>
                        <div class="count">{{ statistic_latest.indexes }}</div>
                        <div class="title">Всего источников</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-statistic">
                        <span class="svg-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3" d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM6.39999 9.89999C6.99999 8.19999 8.40001 6.9 10.1 6.4C10.6 6.2 10.9 5.7 10.7 5.1C10.5 4.6 9.99999 4.3 9.39999 4.5C7.09999 5.3 5.29999 7 4.39999 9.2C4.19999 9.7 4.5 10.3 5 10.5C5.1 10.5 5.19999 10.6 5.39999 10.6C5.89999 10.5 6.19999 10.2 6.39999 9.89999ZM14.8 19.5C17 18.7 18.8 16.9 19.6 14.7C19.8 14.2 19.5 13.6 19 13.4C18.5 13.2 17.9 13.5 17.7 14C17.1 15.7 15.8 17 14.1 17.6C13.6 17.8 13.3 18.4 13.5 18.9C13.6 19.3 14 19.6 14.4 19.6C14.5 19.6 14.6 19.6 14.8 19.5Z" fill="currentColor"/>
                                <path d="M16 12C16 14.2 14.2 16 12 16C9.8 16 8 14.2 8 12C8 9.8 9.8 8 12 8C14.2 8 16 9.8 16 12ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z" fill="currentColor"/>
                            </svg>
                        </span>
                        <div class="count">{{ statistic_latest.size }}Gb</div>
                        <div class="title">Объём данных</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-statistic">
                        <span class="svg-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.28548 15.0861C7.34369 13.1814 9.35142 12 11.5304 12H12.4696C14.6486 12 16.6563 13.1814 17.7145 15.0861L19.3493 18.0287C20.0899 19.3618 19.1259 21 17.601 21H6.39903C4.87406 21 3.91012 19.3618 4.65071 18.0287L6.28548 15.0861Z" fill="currentColor"/>
                                <rect opacity="0.3" x="8" y="3" width="8" height="8" rx="4" fill="currentColor"/>
                            </svg>
                        </span>
                        <div class="count">{{ statistic_latest.users }}</div>
                        <div class="title">Пользователей</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-statistic">
                        <span class="svg-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.7 18.9L18.6 15.8C17.9 16.9 16.9 17.9 15.8 18.6L18.9 21.7C19.3 22.1 19.9 22.1 20.3 21.7L21.7 20.3C22.1 19.9 22.1 19.3 21.7 18.9Z" fill="currentColor"/>
                                <path opacity="0.3" d="M11 20C6 20 2 16 2 11C2 6 6 2 11 2C16 2 20 6 20 11C20 16 16 20 11 20ZM11 4C7.1 4 4 7.1 4 11C4 14.9 7.1 18 11 18C14.9 18 18 14.9 18 11C18 7.1 14.9 4 11 4ZM8 11C8 9.3 9.3 8 11 8C11.6 8 12 7.6 12 7C12 6.4 11.6 6 11 6C8.2 6 6 8.2 6 11C6 11.6 6.4 12 7 12C7.6 12 8 11.6 8 11Z" fill="currentColor"/>
                            </svg>
                        </span>
                        <div class="count">{{ statistic_latest.queries }}</div>
                        <div class="title">Запросов</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>Динамика добавления записей</h2>
                    <div class="subtitle">Статистика увеличения количества записей среди которых осуществляется поиск</div>
                </div>
              <canvas id="statistics_documents"></canvas>
            </div>
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>Динамика добавления источников</h2>
                    <div class="subtitle">Статистика увеличения количества источников данных</div>
                </div>
              <canvas id="statistics_indexes"></canvas>
            </div>
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>Динамика увеличения объёма</h2>
                    <div class="subtitle">Статистика увеличения объёма данных (Gb)</div>
                </div>
              <canvas id="statistics_size"></canvas>
            </div>
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>Динамика регистрации пользователей</h2>
                    <div class="subtitle">Статистика увеличения количества пользователей</div>
                </div>
              <canvas id="statistics_users"></canvas>
            </div>
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>Динамика поисковых запросов</h2>
                    <div class="subtitle">Статистика общего количества запросов</div>
                </div>
              <canvas id="statistics_queries"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<script src="{% static 'js/chart.js' %}"></script>
<script>
  const statistics_documents = document.getElementById('statistics_documents');
  const statistics_indexes = document.getElementById('statistics_indexes');
  const statistics_users = document.getElementById('statistics_users');
  const statistics_queries = document.getElementById('statistics_queries');
  const labels = {{ statistics.labels | safe }};
  const options = {
    plugins: {
        legend: {
          display: false
        }
      }
  };
  const statistics_documents_data = {
      labels: labels,
      datasets: [
        {
          label: 'Динамика добавления записей',
          data: {{ statistics.documents | safe }},
          fill: true
        }
      ]
    };
    const statistics_indexes_data = {
      labels: labels,
      datasets: [
        {
          label: 'Динамика добавления источников',
          data: {{ statistics.indexes | safe }},
          fill: true
        }
      ]
    };
    const statistics_indexes_size = {
      labels: labels,
      datasets: [
        {
          label: 'Динамика увеличения объёма данных',
          data: {{ statistics.size | safe }},
          fill: true
        }
      ]
    };
    const statistics_users_data = {
      labels: labels,
      datasets: [
        {
          label: 'Динамика регистрации пользователей',
          data: {{ statistics.users | safe }},
          fill: true
        }
      ]
    };
    const statistics_queries_data = {
      labels: labels,
      datasets: [
        {
          label: 'Динамика поисковых запросов',
          data: {{ statistics.queries | safe }},
          fill: true
        }
      ]
    };


  new Chart(statistics_documents, {
    type: 'line',
    data: statistics_documents_data,
      options: options
  });
  new Chart(statistics_indexes, {
    type: 'line',
    data: statistics_indexes_data,
      options: options
  });
  new Chart(statistics_size, {
    type: 'line',
    data: statistics_indexes_size,
      options: options
  });
  new Chart(statistics_users, {
    type: 'line',
    data: statistics_users_data,
      options: options
  });
  new Chart(statistics_queries, {
    type: 'line',
    data: statistics_queries_data,
      options: options
  });
</script>
{% endblock %}

