{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="header-title">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>{{ database.title }}</h2>
                    <div class="subtitle">Ниже приведена информация касательно базы данных</div>
                </div>
                {{ database.about|linebreaks }}
                {% if database.comment %}
                <div class="comment-block">
                    {{ database.comment|linebreaks }}
                </div>
                {% endif %}
            </div>
            {% if posts %}
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>Посты</h2>
                    <div class="subtitle">Список постов связанных с источником данных</div>
                </div>
                <div class="post-links">
                {% for post in posts %}
                    <div class="post-link">
                        <span class="svg-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22Z" fill="currentColor"/>
                                <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="currentColor"/>
                            </svg>
                        </span>
                        <div class="title">{{ post.title }}</div>
                        <a href="{% url 'post' index=database.index post_id=post.id  %}" class="btn">Читать пост</a>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>Дополнительно</h2>
                    <div class="subtitle">Дополнительная информация об источнике</div>
                </div>
                <ul class="user-info-list list-unstyled mb-0">
                    <li><span class="left">Актуальность данных:</span>
                        <span class="right">
                            {% if database.actuality %}
                            {{ database.actuality }}
                            {% else %}
                            Не установлена
                            {% endif %}
                        </span>
                    </li>
                    <li><span class="left">Количество записей:</span> <span class="right">{{ index_info.documents }}</span></li>
                    <li><span class="left">Объём источника:</span> <span class="right">{{ index_info.size }}</span></li>
                    <li><span class="left">Источник данных (индекс):</span> <span class="right">{{ index_info.index }}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}