{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="header-title">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>{{ database.title }}</h2>
                    <div class="subtitle">Ниже приведена информация касательно истории авторизации</div>
                </div>
                {{ database.about }}<br><br>
                {{ database.comment }}
                <hr>
                <ul class="user-info-list list-unstyled mb-0">
                    <li><span class="left">Количество записей:</span> <span class="right">{{ index_info.documents }}</span></li>
                    <li><span class="left">Объём источника:</span> <span class="right">{{ index_info.size }}</span></li>
                    <li><span class="left">Источник данных (индекс):</span> <span class="right">{{ index_info.index }}</span></li>
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock content %}