{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="header-title">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>{{ post.title }}</h2>
                    <div class="subtitle">Ниже приведена информация касательно поста источника данных</div>
                </div>
                {{ post.description|linebreaks }}
                {% if post.url %}
                <hr>
                <div class="post-links mt-3">
                    <div class="post-link">
                        <span class="svg-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22Z" fill="currentColor"/>
                                <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="currentColor"/>
                            </svg>
                        </span>
                        <div class="title">{{ post.title }}</div>
                        <a href="{{ post.url }}" class="btn">Читать оригинал</a>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if images %}
            <div class="card card-gallery">
                <div class="card-heading mb-3">
                    <h2>Изображения</h2>
                    <div class="subtitle">Изображения которые связанны с источником данных</div>
                </div>
                <div id="post-images" class="owl-carousel">
                {% for image in images %}
                <a href="{{ image.image.url }}" data-fancybox="gallery" data-caption="{{ post.title }}">
                    <img src="{{ image.image.url }}" alt="" />
                </a>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    $('#post-images').owlCarousel({
    loop:false,
    margin:20,
    nav:true,
    items: 2
})
</script>
{% endblock scripts %}