{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="header-title">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-heading mb-3">
                    <h2>Поиск стал проще и быстрей</h2>
                </div>
                <p>Cerebro объединяет большенство направлений поиска в одном месте и позволяет находить информацию за
                    считанные
                    секунды. Cerebro использует собственные хранилища данных и обрабатывает их благодаря продуманным
                    алгоритмам поиска</p>

            </div>
        </div>
    </div>

</div>
{% endblock content %}